In [1]:
file_path =r'E:\dataAnalystPractice\Upwork demands\testimonials.2022-03-14.csv'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(file_path,index_col=False)

In [4]:
df.head()

,Date,User ID,User email,Client Name,Rating,Testimonial
0,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,We are very pleased to recommend Janet Kovacs....
1,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,Janet is an incredible realtor who knows the R...
2,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Hi Gino. We are all happy and quite relieve...
3,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Dear Gino- Thank you so much for your kindn...
4,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Thank you again for all your help in making...

# the target is to remove the html tags from Testimonial column

In [5]:
df.Testimonial[:3]

0    We are very pleased to recommend Janet Kovacs....
1    Janet is an incredible realtor who knows the R...
2    <p>Hi Gino. We are all happy and quite relieve...
Name: Testimonial, dtype: object

# the easiest way is to use BeautifulSoup

In [6]:
df.Testimonial[2]

'<p>Hi Gino. We are all happy and quite relieved to have it done. It has been a stressful time for my family. You were an absolute pleasure to work with in every way - reliable, knowledgeable, responsive, and empathetic. Thanks for everything. I will provide a strong reference for your work if anyone asks.</p>'

In [7]:
from bs4 import BeautifulSoup

In [8]:
# check for third row
column=BeautifulSoup(df.Testimonial[2])

In [9]:
column

<html><body><p>Hi Gino. We are all happy and quite relieved to have it done. It has been a stressful time for my family. You were an absolute pleasure to work with in every way - reliable, knowledgeable, responsive, and empathetic. Thanks for everything. I will provide a strong reference for your work if anyone asks.</p></body></html>

In [10]:
# now remove the tag
column.find('p').text

'Hi Gino. We are all happy and quite relieved to have it done. It has been a stressful time for my family. You were an absolute pleasure to work with in every way - reliable, knowledgeable, responsive, and empathetic. Thanks for everything. I will provide a strong reference for your work if anyone asks.'

In [12]:
df.Testimonial.str.contains('<p>').value_counts()

True     3901
False     973
Name: Testimonial, dtype: int64

In [16]:
test_data=df.Testimonial[4457:4465]
test_data

4457    <div class="Flex-c11n-8-39-0__n94bjd-0 iWWLfX"...
4458    <div class="Flex-c11n-8-39-0__n94bjd-0 iWWLfX"...
4459    <div class="Flex-c11n-8-39-0__n94bjd-0 iWWLfX"...
4460    <p>&quot;Lauren did a great job for us. We wer...
4461    <p><span style="color:#000000;">Alberto Hernan...
4462    <p><b style="color: rgb(12, 100, 192); font-fa...
4463    <p><span style="color: rgb(42, 42, 51); font-f...
4464    <p><span style="font-size: 16px; caret-color: ...
Name: Testimonial, dtype: object

# I will make a loop to find all 'p','div','header' tag and return a text

In [13]:
import re

In [31]:
def clean_col(row):
    pattern=r'<p|<div|header|<table|<address'
    try: 
        found=re.findall(pattern,row)
        if found:
            c=BeautifulSoup(row)
            if c.find('p'):
                return c.find('p').text
            elif c.find('div'):
                return c.find('div').text
            elif c.find('table'):
                return c.find('table').text
            elif c.find('address'):
                return c.find('address').text
            elif c.find('header'):
                return c.find('header').text
        else:
            return row 
    except:
        pass

In [32]:
df['cleaned_column']=df['Testimonial'].apply(clean_col)

In [34]:
df.head()

,Date,User ID,User email,Client Name,Rating,Testimonial,cleaned_column
0,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,We are very pleased to recommend Janet Kovacs....,We are very pleased to recommend Janet Kovacs....
1,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,Janet is an incredible realtor who knows the R...,Janet is an incredible realtor who knows the R...
2,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Hi Gino. We are all happy and quite relieve...,Hi Gino. We are all happy and quite relieved t...
3,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Dear Gino- Thank you so much for your kindn...,Dear Gino- Thank you so much for your kindness...
4,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Thank you again for all your help in making...,Thank you again for all your help in making ou...

In [33]:
df.to_csv('E:/dataAnalystPractice/Upwork demands/almost_cleaned.csv',index=False)

In [35]:
df[4457:4465]

,Date,User ID,User email,Client Name,Rating,Testimonial,cleaned_column
4457,NaN,426539,gwilburn@houlihanlawrence.com,Gloria Wilburn,5.0,"<div class=""Flex-c11n-8-39-0__n94bjd-0 iWWLfX""...",08/29/2017 - robinjill4Sold a Single Family ho...
4458,NaN,426539,gwilburn@houlihanlawrence.com,Gloria Wilburn,5.0,"<div class=""Flex-c11n-8-39-0__n94bjd-0 iWWLfX""...",02/08/2017 - g traniBought and sold a Single F...
4459,NaN,426539,gwilburn@houlihanlawrence.com,Gloria Wilburn,5.0,"<div class=""Flex-c11n-8-39-0__n94bjd-0 iWWLfX""...",09/04/2015 - us1bobSold a Single Family home i...
4460,2021-08-18,426835,lzaccaria@houlihanlawrence.com,Lauren Zaccaria,5.0,<p>&quot;Lauren did a great job for us. We wer...,"""Lauren did a great job for us. We were from o..."
4461,2021-08-18,17899172,ahernandez@houlihanlawrence.com,Alberto Hernandez,5.0,"<p><span style=""color:#000000;"">Alberto Hernan...",Alberto Hernandez is a wonderful real estate a...
4462,NaN,426675,LFinn@houlihanlawrence.com,Linda Finn,5.0,"<p><b style=""color: rgb(12, 100, 192); font-fa...",Linda was great to work with. We had a number ...
4463,2021-08-20,12488473,aalvarez@houlihanlawrence.com,Ali Alvarez,5.0,"<p><span style=""color: rgb(42, 42, 51); font-f...",Ali has been a dream to work with! Not only do...
4464,2021-08-23,16610622,ALeder@HoulihanLawrence.com,Julie (Anna) Leder,5.0,"<p><span style=""font-size: 16px; caret-color: ...",Anna was fantastic - while she may be somewhat...