In [1]:
file_path =r'E:\dataAnalystPractice\Upwork demands\testimonials.2022.csv'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(file_path,index_col=False)

In [4]:
df.head()

,Date,User ID,User email,Client Name,Rating,Testimonial
0,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,We are very pleased to recommend Janet Kovacs....
1,NaN,426426,jkovacs@houlihanlawrence.com,Janet Kovacs,NaN,Janet is an incredible realtor who knows the R...
2,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Hi Gino. We are all happy and quite relieve...
3,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Dear Gino- Thank you so much for your kindn...
4,NaN,426558,GSermoneta@houlihanlawrence.com,Eugenio (Gino) Sermoneta,5.0,<p>Thank you again for all your help in making...

# I have discover that there is a function called remove_tages in w3lib.html

In [5]:

from w3lib.html import remove_tags

In [6]:
def clean(row):
    try:
        return remove_tags(row)
    except:
        return row
        
    
df['clean']=df['Testimonial'].apply(clean)

# i made this function and apply it to all data it works perfict

In [7]:
df.clean

0       We are very pleased to recommend Janet Kovacs....
1       Janet is an incredible realtor who knows the R...
2       Hi Gino. We are all happy and quite relieved t...
3       Dear Gino- Thank you so much for your kindness...
4       Thank you again for all your help in making ou...
                              ...
4878    Highly likely to recommend | 5.0 01/12/2022 - ...
4879    I have worked with Eleanor for many years. She...
4880    Debra was excellent and made the process of se...
4881    She was extremely responsive at all hours of t...
4882    When we decided to list our compound property,...
Name: clean, Length: 4883, dtype: object

In [17]:
df.clean[1500]

'&quot;We have had the privilege of working with Joseph Briggs not only as a buyer&#39;s agent but also recently as a seller&#39;s agent. As a seller&rsquo;s agent, Joseph proved to be a gentle and thorough ally. He helped us to define appropriate home repairs to tackle before we put the house on the market, he set-up and shot excellent pictures and he attended to the myriad details that can just drive a seller wacky &ndash; like dealing with buyer&rsquo;s agents. As usual, Joseph did all of this with a wonderful sense of humor, speed and communication. You know what he is up to and you feel extremely well looked after, by someone who puts you first. Thanks Joseph !&quot;-Johnna Murray &amp; Bill Camp, Kinderhook, NY - October, 2014'

In [8]:
df.tail()

,Date,User ID,User email,Client Name,Rating,Testimonial,clean
4878,2022-03-09,700384,LCarroll@HoulihanLawrence.com,Lisa Carroll,5.0,"<p><span style=""font-size: 16px; caret-color: ...",Highly likely to recommend | 5.0 01/12/2022 - ...
4879,2022-03-09,426584,erice@houlihanlawrence.com,Eleanor Rice,5.0,"<p><em><span style=""color: rgb(32, 31, 30); fo...",I have worked with Eleanor for many years. She...
4880,2022-03-09,6518193,DHoch@houlihanlawrence.com,Debra Hoch,5.0,"<p><em><span style=""color: rgb(32, 31, 30); fo...",Debra was excellent and made the process of se...
4881,2022-03-10,17917842,pviscome@houlihanlawrence.com,Pamela Viscome,5.0,"<p><em><span style=""color: rgb(32, 31, 30); fo...",She was extremely responsive at all hours of t...
4882,NaN,442402,CAprile@houlihanlawrence.com,Carol A. Aprile,5.0,<p>When we decided to list our compound proper...,"When we decided to list our compound property,..."

In [9]:
df.to_csv('using_remove_tags_function.csv',index=False)